@import "tailwindcss";

:root {
  --clr-light: #ffffff;
  --clr-dark: #111827;
  --clr-teal300: #5eead4;
  --clr-teal400: #2ab8a7;
  --clr-teal600: #0d9488;
  --clr-teal800: #115e59;
  --clr-bg-btn: #24a494;

}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .btn {
  border: 1px solid var(--clr-light);
  padding: .5em 1em;
  color: inherit;
}

.clr-btn {
  background: var(--clr-bg-btn);
  color: var(--clr-light);
  padding: .5em 1.2em;
} */
 